<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content="Daniel Sanchez"/>
    <title>User Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>DocAuto Web</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-6"></div>
        <div class="col-sm-6">
            <select class="form-control">
                <option value="">&mdash;</option>
                <option th:each="plataforma : ${plataformas}"
                    th:text="${plataforma.plataformaId}">
                </option>
            </select>
        </div>
    </div>
    <form th:action="@{/logout}" method="post">
        <button class="btn btn-lg btn-primary" type="submit">Sign Out</button>
    </form>
</body>
</html>